# Intro to SQL using python

In [6]:
# pip install mysql-connector-python

In [7]:
import mysql.connector as mysql

HOST = 'localhost'
USER = 'supriya'
PASSWORD = "supriya-1234"
DATABASE = "stocks"

In [8]:
#   Create database

db = mysql.connect(
    host=HOST,
    user=USER,
    password=PASSWORD,
)

cursor = db.cursor()
# cursor.execute("CREATE DATABASE STOCKS")
cursor.execute("SHOW DATABASES")

for x in cursor:
    print(x)

('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('stocks',)
('sys',)
('world',)

In [9]:
#   Create table

db = mysql.connect(
    host=HOST,
    user=USER,
    password=PASSWORD,
    database=DATABASE
)

cursor = db.cursor()
CREATE_TABLE = 'CREATE TABLE stock_price (ticker_symbol VARCHAR(4), price INT, stocks INT)'

cursor.execute(CREATE_TABLE)

cursor.execute("SHOW TABLES")
for x in cursor:
    print(x)


cursor.execute("DESCRIBE stock_price")
for x in cursor:
    print(x)

('stock_price',)
('ticker_symbol', 'varchar(4)', 'YES', '', None, '')
('price', 'int', 'YES', '', None, '')
('stocks', 'int', 'YES', '', None, '')

In [10]:
#   Insert

ticker_symbols = ['TATA','NVDA']
price = [56, 120]
stocks = [12, 45]

query = "INSERT INTO stock_price (ticker_symbol, price, stocks) VALUES (%s, %s, %s)"

for idx in range(0,2):
    cursor.execute(query, (ticker_symbols[idx], price[idx], stocks[idx]))

db.commit()

In [11]:
#   Select

cursor.execute('SELECT * FROM stock_price')
for x in cursor:
    print(x)

('TATA', 56, 12)
('NVDA', 120, 45)

In [12]:
#   Where

cursor.execute("SELECT * FROM stock_price WHERE price = 56")
for x in cursor:
    print(x)

('TATA', 56, 12)

In [13]:
#   Order by

cursor.execute("SELECT * FROM stock_price ORDER BY price DESC")
for x in cursor:
    print(x)

('NVDA', 120, 45)
('TATA', 56, 12)

In [14]:
#   Update

cursor.execute("UPDATE stock_price SET price = %s WHERE ticker_symbol = %s", (67, 'TATA'))
cursor.execute("SELECT * FROM stock_price")
for x in cursor:
    print(x)

('TATA', 67, 12)
('NVDA', 120, 45)

In [15]:
#   Drop
cursor.execute("DROP TABLE stock_price")
cursor.execute("SHOW TABLES")
for x in cursor:
    print(x)