Module 1:

A. Tools for Coding:

Python Development Tools
Development tools help us to build fast and reliable Python solutions. It includes Integrated Development Environment (IDE), Python package manager, and productive extensions. These tools have made it easy to test the software, debug, and deploy solutions in production.

Development tools

1. Jupyter Notebook
   Jupyter Notebook is a web-based IDE for experimenting with code and displaying the results. It is fairly popular among data scientists and machine learning practitioners. It allows them to run and test small sets of code and view results instead of running the whole file.

The Jupyter Notebook lets us add a description and heading using markdown and export the result in the form of PDF and .ipynb files.

When you mix scientific computation with Python development, you get a Jupyter Notebook. Nowadays, teachers are using it for teaching data science courses, data analysts are using it to create reports, and machine learning engineers are using experimentation and building high-performing model architecture.

A free cloud Jupyter notebook tool is DataLab, built by DataCamp. DataLab runs fully in the browser, so you don't have to install anything else on your computer to start using it. Discover our Jupyter tutorial to learn how to use it.

It is not going anywhere in the future, people are building production-ready solutions on it, and tech giants like AWS are also incorporating it into the cloud computing ecosystems.

2. Pip
   Pip is a tool that uses Python Package Index to install and manage Python software. There are 393,343 projects for you to download and install with lightning speed. The Python ecosystem works on it.

pip install <package_name>

Powered By
Pip is not just an installer. You can create and manage Python environments, install dependencies, and install packages from third-party repositories using URLs. Learn more about pip by following the PIP Python Tutorial tutorial.

python -m pip install -r requirements.txt

Powered By 3. VSCode
Visual Studio Code is free, lightweight, and a powerful code editor. You can build, test, deploy, and maintain all types of applications without leaving the software window. It comes with syntax highlighting, code auto-completing, language, Git, and in-line debug support. You can use extensions to pre-build systems and deploy applications to the cloud.

VSCode is the most popular IDE in the world, and its popularity is mainly due to free extensions that improve user experience. The extensions allow data scientists to run experiments on the Jupyter notebook, edit markdown files, integrate SQL server, collaborate on projects, autocomplete code, and in-line code help. Instead of using multiple software, you can use extensions and run everything from VSCode software like bash terminal and browser.

Python Data Analysis Tools
Data analysis tools allow users to ingest, clean, and manipulate data for statistical analysis. Every data professional must understand the core functionality of these tools to perform data analysis, machine learning, data engineering, and business intelligence tasks.

Data Analysis Tools

4. pandas
   pandas is a gateway into the world of data science. The first thing you learn as a beginner is to load a CSV file using read_csv(). pandas is an essential tool for all data professionals.

You can load a dataset, clean it, manipulate it, calculate statistics, create visualizations, and save the data into various file formats. The pandas API is simple and intuitive. You can load and save CSV and text files, Microsoft Excel, SQL databases, and the fast HDF5 file format.

Learn more about pandas by taking our Data Manipulation with pandas course.

5. Numpy
   NumPy is a fundamental Python package for scientific computations, and most modern tools are built upon it. As a data scientist, you will use the Numpy array for mathematical calculations and data wrangling. It provides multidimensional array objects to perform fast operations such as logical, shape manipulation, sorting, selection, basic statics operation, and random simulation.

Numpy will help you understand the fundamentals of mathematics in data science and how to convert complex equations into Python code. You can use it to create machine learning models, customized statical formulas, scientific simulations, and perform advanced data analytics tasks.

Learn more about NumPy by taking our Introduction to NumPy course.

6. SQLAlchemy
   SQLAlchemy is a Python SQL toolkit for you to access and manage relational databases. It uses Object Relational Mapper to provide powerful features and flexibility of SQL.

This tool is necessary for data scientists and analytics who are used to perform data processing and analytics in Python. You can either use SQL scripts to perform data analysis or use an object-based approach where you can use an intuitive Python API to perform similar tasks in effective ways.

Learn more about SQLAlchemy by taking an Introduction to Databases course on DataCamp.

7. Dask
   Dask is an essential tool for processing big data or files. It uses parallel computing to perform similar tasks by libraries like NumPy, pandas, and scikit-learn.

Running a simple logical function on a large dataset of 4GB will take at least 10 minutes. Even with better machines, you cannot improve processing times to a few seconds. Dask uses dynamic task scheduling and parallel data collection to achieve fast results with the same machine.

The API is similar to pandas and scikit-learn. It is flexible, native to Python, it can scale up (1000 core) and down (single core), and provides rapid feedback and diagnostics to aid humans.

Python Data Visualization Tools
Data visualization gives life to data analysis. If you want to explain things to non-technical executives, you need to tell a data story by displaying a bar chart, line plot, scatter plot, heat maps, and histograms. The visualization tools help data analytics create interactive, colorful, and clean visualization with few lines of code.

Data Visualization Tools

8. Matplotlib
   Matplotlib is a gateway to the world of data visualization. You will learn about it in many data visualization introductions.

With Matplotlib, you can create fully customizable static, animated, and interactive visualizations. It’s intuitive, and you can use it to plot 3D, multilevel, and detailed visualization. There are hundreds of examples of different visualizations available in the gallery.

You can learn more about Matplotlib in our Data Visualization with Matplotlib course..

9. Seaborn
   Seaborn is a high-level interface based on Matplotlib for creating attractive statistical graphics. Similar to Matplotlib, you can produce interactive visualization by typing a single line of code.

It is highly adaptable and works wonders when you are new to data visualization. For customizing, you can always use matplotlib to create multiple graphs, edit axis, title, or even colors. In some cases, seaborn will calculate everything for you and display distplot, violin plot, residplot, implot, joint plot, and boxplot.

Learn more about Seaborn by taking a Data Visualization with Seaborn course on DataCamp.

10. Plotly
    When you want the features of Tableau or PowerBI, you use the Plotly Python library to display interactive and publication-quality graphs. You can zoom into a graph, isolate a single bar, filter things, and even animate it to your needs.

It comes with custom controls and allows you to animate your visualizations and work on data transformation. Plotly also contains Jupyter widgets, 3D charts, AI charts, financial charts, and scientific charts.

Plotly is the best tool to create data analytics Jupyter-based reports. Instead of creating multiple static plots, you can make one and add custom controls to explore and explain data insights.

You can discover how to utilize Plotly with our Data Visualization with Plotly course.

11. Pandas-profiling
    Pandas-profiling is an AutoEDA tool for creating exploratory data analytics reports with a single line of code. The report includes column types, missing values, unique values, quantile statistics, descriptive statistics, histogram, correlation, text analysis, and file and image analysis.

It is quite a helpful tool when you have less time to explore. For example, during technical tests, preparation for team meetings, and participating in the competition.

B. Python Review:

Python Programming: A Comprehensive Review
Python, a versatile, high-level programming language, has become one of the most popular languages for both beginners and seasoned developers. Known for its readability, simplicity, and expansive standard library, Python has established itself in various domains like web development, data analysis, machine learning, automation, and scientific computing.

Pros of Python Programming
Readability and Simplicity: Python's syntax is clear and intuitive. Its use of indentation, as opposed to brackets or keywords, makes it more readable. This simplicity is particularly beneficial for beginners who are learning how to code. It allows them to focus more on solving problems than wrestling with complex syntax.

Extensive Libraries and Frameworks: Python has an impressive collection of libraries and frameworks. For example, libraries like NumPy, Pandas, and Matplotlib are essential for data analysis, while TensorFlow and PyTorch are widely used in machine learning. Flask and Django simplify web development, making Python a truly multi-purpose language.

Cross-Platform Compatibility: Python is cross-platform, meaning that programs written in Python can run on multiple operating systems without modification. This flexibility is useful for developers working across different environments.

Community Support: Python has an enormous and active community. Whether you're a beginner looking for tutorials or an experienced developer facing a challenge, there’s almost always an answer or a resource available. The strong community also means that Python is continuously evolving with contributions from developers worldwide.

Productivity and Flexibility: Python’s dynamic typing and interpreted nature allow for rapid development and testing. It is ideal for prototype building, making Python a popular choice for startups and projects with tight deadlines.

Cons of Python Programming
Speed Limitations: While Python is efficient for many tasks, it is an interpreted language, which makes it slower than compiled languages like C or C++. For performance-critical applications such as real-time systems or games, this may be a disadvantage.

Weak in Mobile and Game Development: Although Python is excellent for web development, data science, and automation, it is not the first choice for mobile or game development. There are frameworks like Kivy for mobile apps, but they aren't as mature or widely adopted as alternatives like Swift for iOS or Java/Kotlin for Android.

High Memory Usage: Python's flexible data types come at the cost of higher memory consumption. In environments where memory is a constraint, such as embedded systems, Python may not be the best choice.

#Basics of Python

In [6]:
import sys
import keyword
import operator
from datetime import datetime
import os

In [7]:
# Keywords Keywords are the reserved words in Python and can't be used as an identifier
print(keyword.kwlist) # List all Python Keywords

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [8]:
len(keyword.kwlist) # Python contains 35 keywords

35

In [9]:
#Identifiers 
# An identifier is a name given to entities like class, functions, variables, etc. It helps to differentiat eone entity from another
# 1var=10 # Identifier can't start with a digit.

In [10]:
val2@=35 # Identifier can't use special symbols

NameError: name 'val2' is not defined

In [ ]:
import=125 # Keywords can't be used as identifiers

In [13]:
""" Correct way of defining an identifier
(Identifiers can be a combination of letters in lowercase (a to z) or uppercase (
"""
val12=10

In [15]:
val_=99

In [ ]:
#1st basic program
'''Python is the best programming 
language for machine learning and data science'''
# for single line comment
'''for multiple line comment''' 
print ("hello world")

Variables

In [ ]:
a= '''I love bengaluru weather
and Brigade road is a must visit place'''
b = 2021
c = 12.15
print(a)
print (b)
print (c)
# for the boolean valuse true or false
d = True
print (d)
# to denote nothing is called none
e = None
print (e)

In [ ]:
#printing the data type of variables used by a,b,c,d,e
# using built in function
print (type(a))
print (type(b))
print (type(c))
print (type(d))
print (type(e))

# Rules for naming variables
''' 1. Variables cannot start with digits for ex: 222geluvaraj
2. Varibles name can contain digits, alphabets, underscores
3. A variable name can only start with alphabets or underscore Ex: geluvaraj or _geuvaraj
4. No white space is allowed to be used inside a variable name for Ex: _geluvaraj  222
5. Variables are case sensitive a=100 and A=200 are very much different'''

Operators

In [ ]:
# Arithematic Operators

a = 600
b = 562

print("The value of 600+562 is",600+562)
print("The value of 600-562 is",600-562)
print("The value of 600/562 is",600/562)
print("The value of 600*562 is",600*562)

In [ ]:
# Assignment operators

a = 365
a += 100
b = 500
b -= 56
c = 998
c *= 98
d = 300
d /= 3
print (a)
print (b)
print (c)
print (d)

In [ ]:
# comparison operators
a = (100 > 300)
print (a)
b = (100 < 300)
print (b)
c = (100 >= 300)
print (c)
d = (100 <= 300)
print (d)
e = (100 != 300)
print (e)
f = (100 == 300)
print (f)

In [ ]:
#Logical operators

# for AND

bool1 = True
bool2 = False
print (" the value of bool1 and bool2 is " , bool1 and bool2)
# as per boolean algebra if any of the one both must be true or false else it will return false
bool11 = False
bool12 = False
print (" the value of bool11 and bool12 is " , bool11 and bool12)
# 1 1 = 1
# 1 0 = 0
# 0 1 = 0
# 0 0 = 1

In [ ]:
# for OR
 
bool1 = True
bool2 = False
print (" the value of bool1 or bool2 is " , bool1 or bool2)
bool21 = True
bool23 = True
print (" the value of bool21 or bool23 is " , bool21 or bool23)
bool11 = False
bool12 = True
print (" the value of bool11 or bool12 is " , bool11 or bool12)
bool41 = False
bool42 = False
print (" the value of bool41 or bool42 is " , bool41 or bool42)

#As per boolean algebra for or
# 1 0 1
# 0 1 1
# 1 1 1
# 0 0 0

In [ ]:
# for NOT
# it will be use against one value which directly reverses it
bool15= False
print(" the value of bool15 is", not bool15)
bool16 = True
print(" the value of bool16 is", not bool16)

# Typecast is a way of changing an object from one data type to the next.

# It is used in computer programming to ensure a function handles the variables correctly.

In [ ]:
a =("98562")
print(type(a))

In [33]:
# now lets convert this into integer
a= int(a)

In [ ]:
print(type(a))

In [ ]:
g=(96.56)
print(type(g))

In [39]:
g=int(g)

In [ ]:
print(type(g))

In [ ]:
# string is a data type in python
# string is sequence of characters enclosed in quotes
# string can be writen in three ways
# single quote
# double quote
# triple quote

# why need all these quotes

a ='king'
b= "king"
c='''king'''
print(a)
print(b)
print(c)

#because when there is a requirement of apstrophe the library gets confuses and throws a invalid syntax error

#d ='king's'
#print(d)
#invalid syntax

# so it can be represented as

e = '''king's'''
print(e)

f="king'''s"
print(f)

g= '''king's'''
print(g)

h='king"s'
print(h)

In [ ]:
greeting = 'Welome to Evening VIT batch'
batch = ' 2024 batch'
print (type(greeting))
print (greeting+batch)
c= greeting+batch
print(c)
# This is concatenation program adding of 2 strings

In [ ]:
#indexing of the strings

name = "geluvaraj"
print(name[0])

In [ ]:
# Examples of Arithmetic Operator
a = 9
b = 4

# Addition of numbers
add = a + b

# Subtraction of numbers
sub = a - b

# Multiplication of number
mul = a * b

# Division(float) of number
div1 = a / b

# Division(floor) of number
div2 = a // b

# Modulo of both number
mod = a % b

# Power
p = a ** b

# print results
print(add)
print(sub)
print(mul)
print(div1)
print(div2)
print(mod)
print(p)

Input operations and print

In [ ]:
# write a python program to find the remainder when a number is divided

a = 152
b =15
print(" The remainder is:", a%b)

In [ ]:
#addition of 2 numbers
a=89554
b=55462
print("the sum of a and b is ", a+b)

In [ ]:
#find the average of 2 numbers

a= input("Enter a number a:")
b= input("Enter a number b:")
a= int(a)
b= int(b)
avg= (a+b)/2
print (" The avg of a and b:", avg)

In [ ]:
# Python Program to find the area of triangle

a = 5
b = 6
c = 7

# Uncomment below to take inputs from the user
# a = float(input('Enter first side: '))
# b = float(input('Enter second side: '))
# c = float(input('Enter third side: '))

# calculate the semi-perimeter
s = (a + b + c) / 2

# calculate the area
area = (s*(s-a)*(s-b)*(s-c)) ** 0.5
print('The area of the triangle is',area)

Conditional statements:

In [ ]:
x=10
if (x<40):
    print("FAIL")

In [ ]:
x=-1
if (x<0):
    print("Pass")

In [ ]:
# python program to illustrate If statement

i = 5
if (i > 15):
    print("20 is less than 15")
print("I am Not in if")

In [ ]:
age=int(input("Enter the Person age:"))
if (age>18):
    print("You are eligible to VOTE")
else:
    print("You are not eligible to vote")

In [ ]:
X=int(input("Enter X:"))
if (X%2 == 0):
    print ("X is even:",X)
else:
    print ("X is odd:",X)

Nested if else

In [ ]:
marks=float(input("Enter marks:"))
if marks>=60:
    if marks<70:
        print("First Class")
    else:
        print("Distinction")

In [ ]:
# User enters the year
year = int(input("Enter Year: "))

# Leap Year Check
if year % 4 == 0:  #1st codition is checked
    if year % 100 == 0: #2nd checks for century year
        if year % 400 ==0: #3rd checks completely divides by 400 or not 
                print(year, "is a Leap Year")  # all conditions are true prints this statement
        else: 
            print(year, "is not a Leap Year")  # is not divided by 400 prints this statement for century year
    else:
        print(year, "is a Leap Year") # for the 1st condition
else:
    print(year, "is not a Leap Year") # for the 1st condition

if and elif

In [ ]:
'''write a program to take input from users and check whether it is number or character. if it is, determine 
whether it is a lower case or uppercase'''

ch=input("Enter the character:")
if(ch>='A' and ch<='Z'):
    print("Uppercase character was entered")
elif(ch>='a' and ch<='z'):
    print("Lowercase character was entered")
elif(ch>'0=' and ch<='9'):
    print("A number was entered")
print("U DID A GREAT JOB")

In [ ]:
'''Write a pgm to enter the marks of a student in four sbjects. then calculate the total and aggregate. and
display the grade obtained by the student. if the student scores an aggregate greater than 75%. then the grade is
distinction. if aggregate is 60>= and <75 then the grade is first division. if aggregate is 50>= and <60, then
the grade is second division. if aggrgate is 40>= and <50 hen the grade isthird division else the 
grade is fail'''

marks1=int(input("Enter the marks1:"))
marks2=int(input("enter the marks2:"))
marks3=int(input("Enter the marks3:"))
marks4=int(input("Enter the marks4:"))
total=marks1+marks2+marks3+marks4
avg=(total)/4
if(avg>=75):
    print("Distinction")
elif(avg>=60 and avg<75):
    print("First Division")
elif(avg>=50 and avg<60):
    print("Second Division")
elif(avg>=40 and avg<50):
    print("Thrird Division")
else:
    print("Fail")

While loop

In [ ]:
#Program to print first 10 numbers using while loop

i=0
while(i<=10):
    print(i)
    i=i+1

In [ ]:
#program to print "VIT" 5 times
i=0
while(i<=5):
    print("VIT")
    i=i+1

In [ ]:
#program to separate values printed on the same line using the tab
i=0
while(i<10):
    print(i,end= '\t')
    i=i+1

In [ ]:
#write a program to calculate the sum and average of first 10 numbers using looping
i=0
sum=0
while(i<=10):
    sum=sum+i
    i=i+1    
avg=float(sum)/10
print("The sum of the numbers is:",sum)
print("The average of first 10 numbers is:",avg)

In [ ]:
#write a program to calculate the sum of numbers from M to N
m=int(input("Enter a number for m:"))
n=int(input("Enter a number for n:"))
sum=0
while(m<=n):
    sum=sum+m
    m=m+1
print("SUM of m and n is:",sum)

In [ ]:
n= int(input("Enter Number:"))
reverse=0
while(n>0):
    digit=n%10
    reverse=reverse*10+digit
    n=n//10
print("reverse of the number:",reverse)

In [ ]:
#write a program to find the entered number is Armstrong number or not
'''Hint: An Armstrong number of 3 digits is an integer such that the sum of the cubes of 
its digits is equal to the number itself For Ex:, 371 is armstrong number 
becuause: 3*3*3+7*7*7+1*1*1=371(n power is 3 here )
one more ex: 1634 = 1*1*1*1+6*6*6*6+3*3*3*3+4*4*4*4(n power is 4 here)'''

number=int(input("Enter a postive number:"))
sum=0
original=number
while(number>0):
    remainder=number%10
    sum=sum+remainder**3
    number=number//10
if(sum==original):
    print("The entered number is Armstrong number:")
else:
    print("The entered number is not a Armstrong number")
    
#The pgm works 3 powers if u want the program to work for more digits keep changing the powers

In [ ]:
'''write a program to read the numbers until -1 is encountered. find the average of positive and negative numbers 
enetered by the user'''

neg_count=0
neg_s=0
pos_count=0
pos_s=0
print("Enter -1 to exit")
while(1):                             
    num=int(input("Enter any number:"))
    if(num==-1):
        break
    if(num<0):
        neg_count=neg_count+1
        neg_s=neg_s+num
    else:
        pos_count=pos_count+1
        pos_s=pos_s+num
neg_avg = float(neg_s)/neg_count
pos_avg = float(pos_s)/pos_count
print("The average of positive numbers", pos_avg)
print("The average of negative numbers", neg_avg)

For loop:

In [ ]:
a=5
for i in range(a):
    print(a)

In [ ]:
a=5
for i in range(a):
    print(i)

In [ ]:
q=range(1,5)
for i in q:
    print(i)

In [ ]:
for i in range(1,5):
    print(i)

In [ ]:
a=range(10,0,-1)                   #(beg,end,step)
for i in a:
    print(i)

In [ ]:
#wap a pgm using for loop tocalculate the average of first n natural numbers

n=int(input("Enter the value of n:"))
avg=0
sum=0
for i in range(1,n+1):
    sum=(n*(n+1)/2)
avg=sum/n
print("The sum of first",n,"natural numbers is",sum)
print("The average of first",n,"natural numbers is",avg)

In [ ]:
#wap for factorial of a number
n=int(input("Enter a number:"))
result=1
for i in range(n,0,-1):
    result=result*i
print("The factorial of a number",n,"is",result)

In [ ]:
#WAP to print number entered is prime or not prime
n=int(input("Enter the number:"))
for i in range(2,n):
    if(n%i==0):
        print(n,"is a not prime number")
        break
else:
    print(n, "is prime number")

In [ ]:
n=int(input("enter how many number you want in the fionacci series"))
first=0
second=1
for i in range(n):
    print(first)
    temp=first
    first=second
    second=temp+second
print()

In [ ]:
# Asking the user input for printing stars horizontal

n=int(input("Enter the number of stars:"))
for i in range(1,n+1):
    print('*',end=" ")

In [ ]:
# Asking the user input for printing stars vertical
n=int(input("Enter the number of stars:"))
for i in range(1,n+1):
    print('*')

In [ ]:
# WAp to print the stars 5 separates rows and 5 columns
# pgm logic is correct, to much of repetative tasks, let us use the power of coding
for i in range(5):
    print('#',end=' ')
print()
for j in range(5):
    print('#', end=' ')
print()
for k in range(5):
    print('#',end=' ')
print()
for l in range(5):
    print('#', end=' ')
print()
for m in range(5):
    print('#', end=' ')

In [ ]:
for i in range(2):
    print('outerloop',i)
    for j in range(3):
        print('Innerloop',j)
print("Rest in Peace looping")

In [ ]:
for i in range(2):
    for j in range(3):
        print('Innerloop',j)
    print('outerloop',i)
print("Rest in Peace looping")

In [ ]:
for i in range(5):
    for j in range(i+1):
        print('*',end='')
    print()

In [ ]:
for i in range(5):
    for k in range(i+1):
        print(' ',end='')
    for j in range(5-i):
        print('#',end='')
    print()

In [ ]:
n=5
for i in range(n):
    for j in range(i,n):
        print(' ',end='')
    for k in range(i+1):
        print('2',end='')
    print()

In [ ]:
n=5
for i in range(n):
    for j in range(i):
        print(' ',end='')
    for k in range(n-i):
        print('*',end='')
    for l in range(n-i-1):
        print('*',end='')
    print()

Break, continue and pass

In [ ]:
#wap for vending machine for candies

Candies=int(input("Enter the number of candies:"))
i=1
while(i<=Candies):
    print("Candies")
    i=i+1

In [ ]:
#what if the candies available in the machine are only 3

available=3
Candies=int(input("Enter the number of candies:"))
i=1
while(i<=Candies):
    if(i>available):
        print("out of stock")
        break
    print("Candies")
    i=i+1
print("babye")

In [ ]:
'''WAP to print the numbers from 1 to 100 and remove which are divisble by 3 and 5'''
for i in range(1,100):
    if(i%3==0 or i%5==0):
        continue
    print(i)
print("Happy Corona days")

In [ ]:
'''WAp tto print the numbers from 1 to 100 and print odd numbers'''

for i in range(1,101):
    if(i%2==0):
        pass
    else:
        print(i)

Functions:

A function is a block of organized and reusable program code that performs a single, specific and well defined task. Python enables its programmers to break up a program into functions, each of which can be written more or less independently of the others. Fig explains how a function func1() is called to Perform a well defined task then program Control is passed to the first statement in the Function. All the statements in the function are Executed and then the program control is passed to the statement following the one that called a function.

Defining a function means specifying its name, parameters that are expected, and the set of instructions. Once the basic structure of a function is finalized. It can be executed by calling it.
The function call statement invokes the function. When function is invoked, the program control jumps in the called function to execute the statements that are a part of that function. Once the called function is executed. The program control passes back to the calling function. The syntax of calling A function that does not accept parameters is simply the name of the function is followed by parenthesis.
function_name:()
Function call statements has the following syntax when it accepts parameters
Function call statement has the following syntax, when it accepts parameters.
Function_name(variable1,variabl:e2..)
When the function is called, the interpreter checks that the correct number and type of arguments are used in the function call. It also checks the type of the returned value.

In [ ]:
# def is a keyword, sub is a function name x and y are function arguments
def sub(x,y):    
    return(x-y)
x=20
y=10
print(sub(x,y))     # function is called

In [ ]:
def func():
    for i in range(4):
        print("Vitians")
func()

In [ ]:
def mul(a,b):              # def is a keyword, sub is a function name x and y are function arguements
    return(a*b)
a=20
b=10
print(mul(a,b))

In [ ]:
def func(i):
    print("Hello world",i)
i=10
func(i)

In [ ]:
def func(i):                   #function definition header accepts a variable with name i
    print("Hello world",i)
j=10
func(j)                          # function is called using variable j

In [ ]:
def func(i):
    print("Hello world",i)
func(5+2+3+5*6)

In [ ]:
# Program to add 2 integers using functions
def total(a,b):
    result=a+b
    print("Sum of",a,"and",b,"=",result)
a=int(input("Enter the first number:"))
b=int(input("Enter the second number:"))
total(a,b)

In [ ]:
#Program can be written in another way by chaning the variable names in the program body
def add(a,b):
    c=a+b
    return c
x=int(input("Enter a number a:"))
y=int(input("Enter a number b:"))
Z=add(x,y)
print("Addition of two numbers is",Z)

In [ ]:
def display():
    print("In function")
    print("About to execute return statement")
    return
    print("This line will never be displayed")
display()
print("back to the caller")

In [ ]:
def returnfunction(num):
    num=num*2
    return num
x=returnfunction(4)
x

In [ ]:
# A program for default argument assumes a default value if a value is not provided in the function call for that argument
def display(name,course='BTECH'):
    print("Name:"+name)
    print("Course:",course)
display(course='MS',name="Raj")   #keyword arguments
display(name='King GJ')             #default argument for course

In [ ]:
# program to demonstrate keyword arguments
def display(str,int_x,float_y):
    print("The string is:",str)
    print("The integer value is:",int_x)
    print("The floating point value is:",float_y)
display(str="i love u",int_x=3000,float_y=0.0)

In [ ]:
# program to demonstrate keyword arguments using assignment operators and function parameters using other variables
def display(name,age,salary):
    print("Name:",name)
    print("Age:",age)
    print("Salary:",salary)
N='GJ'
A=29
S=123456
display(salary=S,age=A,name=N)

In [ ]:
def fun(name,*fav_movies_series):
    print('\n', name,"likes to watch")
    for movies in fav_movies_series:
        print(movies,end=" ")
fun("GJ","Multiverse of Madness","Moon Knight","Rings of power","Thor-Love and thunder")
fun("KING","Black adam","The Batman","Aquman-The lost kingdoms")
fun("Raj")

In [ ]:
Strings:

In [ ]:
# defining strings in Python
# all of the following are equivalent
first_string = 'Hello'
print(first_string)

second_string = "Hello"
print(second_string)

third_string = '''Hello'''
print(third_string)

# triple quotes string can extend multiple lines
sentence_string = '''Hello, welcome to New horizon college of engineering'''
print(sentence_string)

In [ ]:
#Accessing string characters in Python
str = 'GELUVARAJ'
print('str = ', str)

print('str[0:9]=',str)

#first character
print('str[0] = ',str[0])

#last character
print('str[-1] =',str[-1])

#slicing 2nd to 5th character
print('str[1:5] = ', str[1:5])

#slicing 6th to 2nd last character
print('str[5:-2] = ', str[5:-2])

#slicing the string -9 to 6
print('str[-9:5]=',str[-9:5])

#
print('str[3] = ',str[3:])

In [ ]:
# Concatenation of a string
a='King of'
b=' Hearts'
print(a+b)

In [ ]:
# Iterating through a string and finding the letters count
count = 0
for letter in 'New horizon college of engineering':
    if(letter == 'l'):
        count = count+1
print(count,'letters found')

In [ ]:
text = 'Everything is fair in love and war'
# Splits at space
print(text.split())

word = 'Everything,is, fair, in, love, and, war'
# Splits at ','
print(word.split(','))

word = 'Everything:is:fair:in:love:and,:war'
# Splitting at ':'
print(word.split(':'))

word ='catbatsatfatratchat'
# Splitting at t
print(word.split('t'))

In [ ]:
#Removing a Character from String using the Naive method
input_str = "Geluvaraj"
   
# Printing original string  
print ("Original string: ",input_str) 
   
result_str = "" 
   
for i in range(0, len(input_str)): 
    if i != 3: 
        result_str = result_str + input_str[i] # done slicing and concatenation both
   
# Printing string after removal   
print ("String after removal of i'th character : ",result_str)

In [ ]:
#Removal of Character from a String using Slicing and Concatenation
str = "Geluvaraj"
print ("Original string: " + str) 
   
# Removing char at pos 3 
# using slice + concatenation 
res_str = str[:2]
print ("String after removal of character: " + res_str)

In [ ]:
#Comparison Operator
string1 = "Geluvaraj"
string2 = "Geluvaraj1"
string3 = "Geluvaraj2"
string4 = "Geluvaraj3"
print(string1==string4)
print(string2==string3)
print(string1!=string4)
print(string2!=string3)

In [ ]:
name = "GELUVARAJ"
YOB= 1990
Height = 5.6

string1 = 'Hey %s' % (name)
print(string1)

string2 = 'my YOB is %d' % (YOB)
print(string2)

string3= 'My name is %s, my year if birth is %d' % (name, YOB)
print(string3)

string3= 'My name is %s, my height is %f' % (name, Height)
print(string3)

In [ ]:
#You can use multiple format conversion types in a single print statement
variable = 12

string = "Variable as integer = %d \n\
Variable as float = %f" %(variable, variable)

print (string)

In [ ]:
a = 5
b = 10
print(f"My age is {2 * (a + b)}.")

Built-in functions:

In [ ]:
str1 = "geluvaraj"
str2 = str1.capitalize()
print(str2)

In [ ]:
str1 = 'HELLO FROM RAJ'
str2 = str1.casefold()
print(str2)

In [ ]:
str1 = "geluvaraj"
str2 = str1.index('l')
print(str2)

In [ ]:
str1 = "VIT"
str2 = str1.lower()
print(str2)

In [ ]:
str1 = "VIT"
str2 = str1.swapcase()
print(str2)

In [ ]:
str1 = "geluvaraj"
str2 = str1.upper()
print(str2)

In [1]:
# LISTS : A list is an ordered sequence of values. It is a data structure in Python. The values inside the lists can be of any type (like integer, float, strings, lists, tuples, dictionaries etc) and are called as elements or items. The elements of lists are enclosed within square brackets. 
# For example, 
ls1=[10,-4, 25, 13] 
# ls2=[“Tiger”, “Lion”, “Cheetah”] 
# Here, ls1 is a list containing four integers, and ls2 is a list containing three strings. A list need not contain data of same type. We can have mixed type of elements in list. For example, 
ls3=[3.5, 'Tiger', 10, [3,4]] 
# Here, ls3 contains a float, a string, an integer and a list. This illustrates that a list can be nested as well. 
# An empty list can be created any of the following ways – 
# >>> ls =[]                                ls=list() 
# >>> type(ls)                or            type(ls)
# <class 'list’>                            <class ‘list’>

In [ ]:
ls=[34, 'hi', [2,3],-5] 
print(ls[3*1])

In [ ]:
ls=[34, 'hi','hello',-5] 
for item in ls: 
     print(item)

In [ ]:
ls=[34, 'hi','hello',-5] 
for item in ls: 
     print(ls)

In [ ]:
ls=[1,2,3,4] 
for i in range(len(ls)): 
    ls[i]=ls[i]**2 
    print(ls)

In [ ]:
list1 =['red','green','yellow','black']
for i in range(len(list1)): 
    print(list1[i])

In [ ]:
ls1=[1,2,3] 
ls2=[5,6,7] 
print(ls1+ls2)

In [ ]:
ls1=[1,2,3] 
print(ls1*3)

In [ ]:
t=['a','b','c','d','e']                 #reverse a list
print(t[::-1])

In [ ]:
print(t[:])

In [ ]:
print(t[:3])

In [ ]:
print(t[:-2])

In [ ]:
list1 = ['red','green','blue']
'green' in list1

In [ ]:
list1 = ['red','green','blue']
'violet' in list1

In [ ]:
#to remove last element from the list
ls=[3,6,-2,8,10] 
x=ls.pop()          #10 is removed from list and stored in x 
print(ls)
print(x)

In [ ]:
t = ['a', 'b', 'c'] 
x = t.pop(1)              #item at index 1 is popped 
print(t) 
print(x)

In [ ]:
ls=[3,6,-2,8,1]
del ls[2] #item at index 2 is deleted
print(ls)

In [ ]:
ls=[3,6,-2,8,1] 
del ls[1:4]         #deleting all elements from index 1 to 3 
print(ls)

In [ ]:
ls=['a','b','c','d','e'] 
del ls[1::2] 
print(ls)

In [ ]:
list1 = [10,20,30,40,50]                   #length of the list
len(list1)

In [ ]:
str1='aeiou'                          #string converted to list
list1 = list(str1) 
print(list1)

In [ ]:
list1 = [10,20,30,40]                       #adding an element to the list
list1.append(50) 
print(list1)

list1 = [10,20,30,40] 
list1.append([50,60]) 
print(list1)

In [ ]:
list1 = [10,20,30,40,50]  #inserts element 25 at index value 2 
list1.insert(2,25) 
print(list1) 


list1 = [10,20,30,40,50]  #inserts element 0 at index value 0 
list1.insert(0,0) 
print(list1)

In [ ]:
list1 = ['Tiger','Zebra','Lion', 'Cat', 'Elephant' ,'Dog'] 
list1.sort() 
print(list1) 


list1 = [34,66,12,89,28,99] 
list1.sort(reverse = True)       #to sort in descending order
print(list1)

In [ ]:
list1 = [23,45,11,67,85,56]         #creates a new list
list2 = sorted(list1) 
print(list1)
print(list2)

Program 4-1 Write a program to allow user to perform any those list operation given in a menu. The menu is:

1.  Append an elemen2.t
    Insert an eleme3.nt
    Append a list to the given l4.ist
    Modify an existing ele5.ment
    Delete an existing element from its pos6.ition
    Delete an existing element with a given7. value
    Sort the list in the ascendin8.g order
    Sort the list in descendi9.ng order
    Display the list.

In [ ]:
#Menu driven program to do various list operations
myList = [22,4,16,38,13] #myList having 5 elements
choice = 0
for attempt in range (3): 
    print ("Attempt number:", attempt)
    print("The list 'myList' has the following elements", myList)
    print("\nLIST OPERATIONS")
    print(" 1. Append an element")
    print(" 2. Insert an element at the desired position")
    print(" 3. Append a list to the given list")
    print(" 4. Modify an existing element")
    print(" 5. Delete an existing element by its position")
    print(" 6. Delete an existing element by its value")
    print(" 7. Sort the list in ascending order")
    print(" 8. Sort the list in descending order")
    print(" 9. Display the list")
    choice = int(input("ENTER YOUR CHOICE (1-9): "))
#append element
    if choice == 1:
        element = eval(input("Enter the element to be appended: "))
        myList.append(element)
        print("The element has been appended\n",myList)
#insert an element at desired position
    elif choice == 2:
        element = eval(input("Enter the element to be inserted: "))
        pos = int(input("Enter the position:"))
        myList.insert(pos,element)
        print("The element has been inserted\n",myList)
#append a list to the given list
    elif choice == 3:
        newList = eval(input("Enter the list to be appended: "))
        myList.extend(newList)
        print("The list has been appended\n",myList)
#modify an existing element
    elif choice == 4:
        i = int(input("Enter the position of the element to be modified: "))
        if i < len(myList):
            newElement = eval(input("Enter the new element: "))
            oldElement = myList[i]
            myList[i] = newElement
            print("The element",oldElement,"has been modified\n",myList)
        else:
            print("Position of the element is more then the length of list")
#delete an existing element by position
    elif choice == 5:
        i = int(input("Enter the position of the element to be deleted: "))
        if i < len(myList):
            element = myList.pop(i)
            print("The element",element,"has been deleted\n",myList)
        else:
            print("\nPosition of the element is more then the length of list")
#delete an existing element by value
    elif choice == 6:
        element = int(input("\nEnter the element to be deleted: "))
        if element in myList:
            myList.remove(element)
            print("\nThe element",element,"has been deleted\n",myList)
        else:
            print("\nElement",element,"is not present in the list")
#list in sorted order
    elif choice == 7:
        myList.sort()
        print("\nThe list has been sorted",myList)
#list in reverse sorted order
    elif choice == 8:
        myList.sort(reverse = True)
        print("\nThe list has been sorted in reverse order",myList)
#display the list
    elif choice == 9:
        print("\nThe list is:",myList)
    else:
        print("Choice is not valid")

# Try all the built in functions of Lists:

1.len()
2.list()
3.extend()
4.insert()
5.count()
6.find()
7.remove()
8.pop()
9.reverse()
10.min()
11.max()
12.sum()

TUPLES :
A tuple is a sequence of items, similar to lists. The values stored in the tuple can be of any type and they are indexed using integers. Unlike lists, tuples are immutable. That is, values within tuples cannot be modified/reassigned. Tuples are comparable and hashable objects. Hence, they can be made as keys in dictionaries.

In [ ]:
t='Mango','apple','banana'        #without parentheses 
print(t)

In [ ]:
t1=('Mango', 'apple', 'banana')
print(t1)
type(t1)

In [ ]:
t=tuple([3,[12,5],'Hi']) 
print(t) 
type(t)

In [ ]:
t=('Mango', 'Banana', 'Apple')          #accessing element using index
print(t[1])

In [ ]:
t=('Mango', 'Banana', 'Apple')
print(t[1:])                         #slicing using 1st element
print(t[-1])

In [ ]:
tup = (5,11,22) 
for i in range(0,len(tup)): 
    print(tup[i])

In [ ]:
T = (10,20,30,40,50)
for var in T:
    print (T.index(var),var)

In [ ]:
T = (10,20,30,40,50)
for var in range(len(T)):
    print(var,T[var])

In [ ]:
#updating a tuples
tup1 = (1, 2) 
tup2 = ('a','b')
tup3 = tup1 + tup2 
print (tup3)

In [ ]:
tup1 = ('a', 'b', 'c', 'd', 'e', 'f')
tup1[1:3]

In [ ]:
tup1[0:6:2]

In [ ]:
tup1[3:]

In [ ]:
tup1=tuple(range(4))
print(tup1)

In [ ]:
tup3=tuple(range(2, 10, 2))
print(tup3)

In [ ]:
tup1 = (1, 2,3) 
tup3 = tup1[0:1] + tup1[2:] 
print (tup3)

In [ ]:
#packing and unpacking of tuple

tup1 = (1,2,3,4) 
(a, b, c, d) = tup1 
print(tup1)

Write a Python program to unpack a tuple in several variables.

In [ ]:
#create a tuple
tuplex = 4, 8, 3 
print(tuplex)
n1, n2, n3 = tuplex
#unpack a tuple in variables
print(n1 + n2 + n3)

Write a Python program to find the repeated items of a tuple.

In [ ]:
tuplex = 2, 4, 5, 6, 2, 3, 4, 4, 7 
print(tuplex)
count = tuplex.count(4)
print(count)

Write a Python program to find the index of an item of a tuple

In [ ]:
#create a tuple
tuplex = tuple("index tuple")
print(tuplex)
#get index of the first item whose value is passed as parameter
index = tuplex.index("p")
print(index)
#define the index from which you want to search
index = tuplex.index("p")
print(index)
#define the segment of the tuple to be searched
index = tuplex.index("e")
print(index)

Write a Python program to replace last value of tuples in a list.

In [ ]:
l = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
print([t[:-1] + (100,) for t in l])

In [ ]:
Write a Python program to remove an empty tuple(s) from a list of tuples.

In [ ]:
list=[(1,2,3),(4,5),()]
for tuple in list:
    if(tuple==0):
        list.remove(tuple)
print(list)

# Try all the built in functions of Lists:

1.len()
2.list()
3.extend()
4.insert()
5.count()
6.find()
7.remove()
8.pop()
9.reverse()
10.min()
11.max()
12.sum()

Sets:
A set is an unordered collection of data that is iterable, mutable, and has no duplicate elements.
Python’s set class represents the mathematical notion of a set.
The major advantage of using a set, as opposed to a list, is that it has a highly
optimized method for checking whether a specific element is contained in the set.
The set data type is based on a data structure known as a hash table.
A set is an unordered collection of items.
Every element must be unique and immutable.
Duplicates are eliminated
Elements are Immutable like tuples, integers, strings etc.
However, the set itself is mutable.
It is possible to add or remove items to set.
We can change its state—its length and content.
Sets can be used to perform mathematical set operations like union, intersection, symmetric difference etc.

In [ ]:
print("Create a new set:")
x = set()
print(x)
print(type(x))
print("\nCreate a non empty set:")
n = set([0, 1, 2, 3, 4])
print(n)
print(type(n))
print("\nUsing a literal:")
a = {1,2,3,'foo','bar'}
print(type(a))
print(a)

In [ ]:
#A new empty set
color_set = set()
print(color_set)
print("\nAdd single element:")
color_set.add("Red")
print(color_set)
print("\nAdd multiple items:")
color_set.update(["Blue", "Green"])
print(color_set)

In [ ]:
A = {1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5}
print(A)

In [ ]:
num_set = set([0, 1, 3, 4, 5])
print("Original set:")
print(num_set)
num_set.pop()
print("\nAfter removing the first element from the said set:")
print(num_set)

In [ ]:
num_set = set([0, 1, 2, 3, 4, 5])
print("Original set elements:")
print(num_set)
num_set.discard(3)
print(num_set)
num_set.discard(0)
print(num_set)
num_set.discard(5)
print(num_set)

In [ ]:
myset = {'Apples', 'Bananas', 'Oranges'}
myset.discard('Apples')
print(myset)

In [ ]:
setx = set(["green", "blue"])
sety = set(["blue", "yellow"])
print("Original set elements:")
print(setx)
print(sety)
print("\nIntersection of two said sets:")
setz = setx & sety
print(setz)

In [ ]:
setc1 = set(["green", "blue"])
setc2 = set(["blue", "yellow"])
print("Original sets:")
print(setc1)
print(setc2)
setc = setc1.union(setc2)
print("\nUnion of above sets:")
print(setc)
setn1 = set([1, 1, 2, 3, 4, 5])
setn2 = set([1, 5, 6, 7, 8, 9])
print("\nOriginal sets:")
print(setn1)
print(setn2)
print("\nUnion of above sets:")
setn = setn1.union(setn2)
print(setn)

In [ ]:
setc1 = set(["green", "blue"])
setc2 = set(["blue", "yellow"])
print("Original sets:")
print(setc1)
print(setc2)
r1 = setc1.difference(setc2)
print("\nDifference of setc1 - setc2:")
print(r1)
r2 = setc2.difference(setc1)
print("\nDifference of setc2 - setc1:")
print(r2)
setn1 = set([1, 1, 2, 3, 4, 5])
setn2 = set([1, 5, 6, 7, 8, 9])
print("\nOriginal sets:")
print(setn1)
print(setn2)
r1 = setn1.difference(setn2)
print("\nDifference of setn1 - setn2:")
print(r1)
r2 = setn2.difference(setn1)
print("\nDifference of setn2 - setn1:")
print(r2)

In [ ]:
setc1 = set(["green", "blue"])
setc2 = set(["blue", "yellow"])
print("Original sets:")
print(setc1)
print(setc2)
r1 = setc1.difference(setc2)
print("\nDifference of setc1 - setc2:")
print(r1)
r2 = setc2.difference(setc1)
print("\nDifference of setc2 - setc1:")
print(r2)
setn1 = set([1, 1, 2, 3, 4, 5])
setn2 = set([1, 5, 6, 7, 8, 9])
print("\nOriginal sets:")
print(setn1)
print(setn2)
r1 = setn1.difference(setn2)
print("\nDifference of setn1 - setn2:")
print(r1)
r2 = setn2.difference(setn1)
print("\nDifference of setn2 - setn1:")
print(r2)

In [ ]:
setp = set(["Red", "Green"])
setq = set(["Green", "Red"])
#A shallow copy
setr = setp.copy()
print(setr)

In [ ]:
setc = {"Red", "Green", "Black", "White"}
print("Original set elements:")
print(setc)        
print("\nAfter removing all elements of the said set.")
setc.clear()
print(setc)

In [ ]:
x = {1,2,3,4}
y = {4,5,6,7}
z = {8}
print("Original set elements:")
print(x)
print(y)
print(z)
print("\nConfirm two given sets have no element(s) in common:")
print("\nCompare x and y:")
print(x.isdisjoint(y))
print("\nCompare x and z:")
print(z.isdisjoint(x))
print("\nCompare y and z:")
print(y.isdisjoint(z))

the symmetric difference, also known as the disjunctive union, of two sets is the set of elements which are in either of the sets and not in their intersection.

In [ ]:
setc1 = set(["green", "blue"])
setc2 = set(["blue", "yellow"])
print("Original sets:")
print(setc1)
print(setc2)
r1 = setc1.symmetric_difference(setc2)
print("\nSymmetric difference of setc1 - setc2:")
print(r1)
r2 = setc2.symmetric_difference(setc1)
print("\nSymmetric difference of setc2 - setc1:")
print(r2)
setn1 = set([1, 1, 2, 3, 4, 5])
setn2 = set([1, 5, 6, 7, 8, 9])
print("\nOriginal sets:")
print(setn1)
print(setn2)
r1 = setn1.symmetric_difference(setn2)
print("\nSymmetric difference of setn1 - setn2:")
print(r1)
r2 = setn2.symmetric_difference(setn1)
print("\nSymmetric difference of setn2 - setn1:")
print(r2)

In [ ]:
# set of letters
s = {'g', 'e', 'k', 's'}

# adding 's'
s.add('f')
print('Set after updating:', s)

# Discarding element from the set
s.discard('g')
print('\nSet after updating:', s)

# Removing element from the set
s.remove('e')
print('\nSet after updating:', s)

# Popping elements from the set
print('\nPopped element', s.pop())
print('Set after updating:', s)

s.clear()
print('\nSet after updating:', s)

Dictionary:
The data type dictionary falls under mapping. It is a mapping between a set of keys and a set of values. The key-value pair is called an item. A key is separated from its value by a colon(:) and consecutive items are separated by commas. Items in dictionaries are unordered, so we may not get back the data in the same order in which we had entered the data initially in the dictionary

In [ ]:
# empty dictionary
my_dict = {}
print(my_dict)

# dictionary with integer keys
my_dict = {1: 'Geluva', 2: 'Raj'}
print(my_dict)

# dictionary with mixed keys
my_dict = {'name': 'Raj', 1: [2, 4, 3]}
print(my_dict)

# using dict()
my_dict = dict({1:'King', 2:'Maker'})
print(my_dict)

# from sequence having each item as a pair
my_dict = dict([(1,'Geluva'), (2,'Raj')])
print(my_dict)

In [ ]:
# Changing and adding Dictionary Elements
my_dict = {'name': 'Geluvaraj', 'age': 29}

# update value
my_dict['age'] = 30

#Output: {'age': 30, 'name': 'Geluvaraj'}
print(my_dict)

# add item
my_dict['address'] = 'Bangalore'

# Output: {'address': 'Bangalore', 'age': 30, 'name': 'Geluvaraj'}
print(my_dict)

In [ ]:
# Removing elements from a dictionary

# create a dictionary
square_roots = {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
print(square_roots)

# remove a particular item, returns its value
# Output: 16
print(square_roots.pop(4))

# Output: {1: 1, 2: 4, 3: 9, 5: 25}
print(square_roots)

# remove an arbitrary item, return (key,value)
#The popitem() method removes the item that was last inserted into the dictionary.
# Output: (5, 25)
print(square_roots.popitem())

# Output: {1: 1, 2: 4, 3: 9}
print(square_roots)

# remove all items
square_roots.clear()

# Output: {}
print(square_roots)

# delete the dictionary itself
del square_roots

In [ ]:
# Create a dictionary with specified keys and default value 0
marks = {}.fromkeys(['Maths', 'Python Programming', 'Chemistry', 'Electronics'], 0)

# Print the dictionary
print(marks)

# Loop through dictionary items and print them
for item in marks.items():
    print(item)

# Print the sorted list of dictionary keys
print(list(sorted(marks.keys())))

In [ ]:
# Membership Test for Dictionary Keys
square_roots = {1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

# Output: True
print(1 in square_roots)

# Output: True
print(2 not in square_roots)

# membership tests for key only not value
# Output: False
print(49 in square_roots)

In [ ]:
# Iterating through a Dictionary
squares = {1: 1, 3: 9, 5: 25, 7: 49, 9: 81}
for i in squares:
    print(squares[i])

In [ ]:
# Dictionary Built-in Functions
square_roots  = {0: 0, 1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

# Output: False
print(all(square_roots))

# Output: True
#Return True if any key of the dictionary is true. If the dictionary is empty, return False.
print(any(square_roots))

# Output: 6
print(len(square_roots))

# Output: [0, 1, 3, 5, 7, 9]
print(sorted(square_roots))


d = {0:10, 1:20}
print(d)
d.update({2:30})
print(d)

#Python program to check whether a given key already exists in a dictionary.
d = {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
def is_key_present(x):
if x in d:
print('Key is present in the dictionary')
else:
print('Key is not present in the dictionary')
is_key_present(5)
is_key_present(9)

In [ ]:
#Python script to merge two Python dictionaries.
d1 = {'a': 100, 'b': 200}
d2 = {'x': 300, 'y': 200}
d = d1.copy()
d.update(d2)
print(d)

In [ ]:
#Python program to sum all the items in a dictionary.
my_dict = {'data1':100,'data2':-54,'data3':247}
print(sum(my_dict.values()))

write a program to enter names of employees and their salaries as input and store them in a dictionary. Here n is to input by the user.

Program to create a dictionary which stores names of employees and their salary

In [ ]:
n = int(input("Enter the number of employees whose data to be stored: "))
count = 1
employee = dict() #create an empty dictionary
for count in range (n):
    name = input("Enter the name of the Employee: ")
    salary = int(input("Enter the salary: "))
    employee[name] = salary
print("\n\nEMPLOYEE_NAME\tSALARY")
for k in employee:
    print(k,'\t\t',employee[k])

Data Visualization:

While working with data, it can be difficult to truly understand your data when it’s just in tabular form. To understand what exactly our data conveys, and to better clean it and select suitable models for it, we need to visualize it or represent it in pictorial form. This helps expose patterns, correlations, and trends that cannot be obtained when data is in a table or CSV file.

The process of finding trends and correlations in our data by representing it pictorially is called Data Visualization. To perform data visualization in python, we can use various python data visualization modules such as Matplotlib, Seaborn, Plotly, etc. In this article, The Complete Guide to Data Visualization in Python, we will discuss how to work with some of these modules for data visualization in python and cover the following topics in detail.

What is Data Visualization?
Data Visualization in Python
Matplotlib and Seaborn
Line Charts
Bar Graphs
Histograms
Scatter Plots

What is Data Visualization?
Data visualization is a field in data analysis that deals with visual representation of data. It graphically plots data and is an effective way to communicate inferences from data.

Using data visualization, we can get a visual summary of our data. With pictures, maps and graphs, the human mind has an easier time processing and understanding any given data. Data visualization plays a significant role in the representation of both small and large data sets, but it is especially useful when we have large data sets, in which it is impossible to see all of our data, let alone process and understand it manually.

Data Visualization in Python
Python offers several plotting libraries, namely Matplotlib, Seaborn and many other such data visualization packages with different features for creating informative, customized, and appealing plots to present data in the most simple and effectiv

Matplotlib: Matplotlib
n
It is used for basic graph plotting like line charts, bar graphs, et
Matplotlib acts productively with data arrays and frames. It regards the aces and figures as objects.cs.

It mainly works with datasets and a
Matplotlib is more customizable and pairs well with Pandas and Numpy for Exploratory Data AnalysisraSeaborn:

It is mainly used for statistics visualization and can perform complex visualizations with fewer commands.tasets.

Seaborn is considerably more organized and functional than Matplotlib and treats the entire dataset as a solits objects.

Seaborn has more inbuilt themes and is mainly used for statist
It works with entire datasets.y Data Analysis.e way.
Heat Maps

Line Charts

A Line chart is a graph that represents information as a series of data points connected by a straight line. In line charts, each data point or marker is plotted and connected with a line or curve.

Let's consider the orange yield (tons per hectare). Let's plot a line graph using this data and see how the yield of oranges changes over time. We start by importing Matplotlib and Seaborn.

In [18]:
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
oranges=[0.95,0.865,0.98,0.926,0.931]  # random datapoints to represent yield of oranges

In [ ]:
plt.plot(oranges)

To better understand the graph and its purpose, we can add the x-axis values too.

In [7]:
years=[2010,2011,2012,2013,2014,2015]
oranges=[0.95,0.865,0.98,0.926,0.931,0.68]

In [ ]:
plt.plot(years,oranges)

lets add labels to the axes so that we can show what each axis represents

In [ ]:
plt.plot(years,oranges)
plt.xlabel('years')
plt.ylabel('Yield of oranges(tons per hector)')

In [41]:
Time=[6,8,10,12,14,16,18,20] 
message=[0,0,231,203,132,167,286,0]

In [ ]:
import matplotlib.pyplot as plt
plt.plot(Time,message)
plt.xlabel('Time')
plt.ylabel('No_of_packets_in_message')
plt.show()

To plot multiple datasets on the same graph, just use the plt.plot function once for each dataset. Let's use this to compare the yields of apples vs. oranges on the same graph.

In [20]:
years=[2010,2011,2012,2013,2014,2015]
oranges=[0.95,0.865,0.98,0.926,0.931,0.68] 
watermelons=[0.87,0.567,0.597,0.785,0.56,0.56]

In [ ]:
plt.plot(years,oranges)
plt.plot(years,watermelons)
plt.xlabel('years')
plt.ylabel('Yield(tons per hector)')

We can add a legend which tells us what each line in our graph means. To understand what we are plotting, we can add a title to our graph.

In [ ]:
plt.plot(years,oranges)
plt.plot(years,watermelons)
plt.xlabel('years')
plt.ylabel('Yield(tons per hector)')
plt.title("Crop yield in ooty")
plt.legend(['Oranges','Watermelons']);

o show each data point on our graph, we can highlight them with markers using the marker argument. Many different marker shapes like a circle, cross, square, diamond, etc. are provided by Matplotlib.

In [ ]:
plt.plot(years,oranges,marker='o')
plt.plot(years,watermelons,marker='x')
plt.xlabel('years')
plt.ylabel('Yield(tons per hector)')
plt.title("Crop yield in ooty")
plt.legend(['Oranges','Watermelons']);

You can use the plt.figure function to change the size of the figure.

In [ ]:
plt.figure(figsize=(7,5))
plt.plot(years,oranges,marker='o')
plt.plot(years,watermelons,marker='x')
plt.xlabel('years')
plt.ylabel('Yield(tons per hector)')
plt.title("Crop yield in ooty")
plt.legend(['Oranges','Watermelons']);

Using Seaborn
An easy way to make your charts look beautiful is to use some default styles from the Seaborn library. These can be applied globally using the sns.set_style function.

In [59]:
import seaborn as sns
sns.set_style("whitegrid")

In [ ]:
plt.figure(figsize=(5,3))
plt.plot(years,oranges,marker='o')
plt.plot(years,watermelons,marker='x')
plt.xlabel('years')
plt.ylabel('Yield(tons per hector)')
plt.title("Crop yield in ooty")
plt.legend(['Oranges','Watermelons']);

We can also use the darkgrid option to change the background color to a darker shade.

In [ ]:
import seaborn as sns
sns.set_style("darkgrid")
plt.figure(figsize=(5,3))
plt.plot(years,oranges,marker='o')
plt.plot(years,watermelons,marker='x')
plt.xlabel('years')
plt.ylabel('Yield(tons per hector)')
plt.title("Crop yield in ooty")
plt.legend(['Oranges','Watermelons']);

Bar Graphs
When you have categorical data, you can represent it with a bar graph. A bar graph plots data with the help of bars, which represent value on the y-axis and category on the x-axis. Bar graphs use bars with varying heights to show the data which belongs to a specific category.

In [ ]:
years=[2010,2015]
oranges=[0.95,0.865,0.98,0.926,0.931,0.68] 
watermelons=[0.87,0.567,0.597,0.785,0.56,0.56]

In [ ]:
plt.figure(figsize=(5,3))
plt.bar(years,watermelons)
plt.xlabel('year')
plt.ylabel('Yield(tons per hector)')
plt.title("Crop yield in ooty")

We can also stack bars on top of each other. Let's plot the data for oranges and watermelons

In [ ]:
plt.figure(figsize=(5,3))
plt.bar(years,oranges)
plt.bar(years,watermelons,bottom=oranges)

Let’s use the tips dataset in Seaborn next. The dataset consists of :

Information about the sex (gender)
Time of day
Total bill
Tips given by customers visiting the restaurant for a week

In [ ]:
tips_df=sns.load_dataset("tips")
tips_df

We can draw a bar chart to visualize how the average bill amount varies across different days of the week. We can do this by computing the day-wise averages and then using plt.bar. The Seaborn library also provides a barplot function that can automatically compute averages.

In [ ]:
sns.barplot(x='day',y='total_bill',data=tips_df,palette='Set2') #Using the Palette Parameter

If you want to compare bar plots side-by-side, you can use the hue argument. The comparison will be done based on the third feature specified in this argument.

In [ ]:
sns.barplot(x='day',y='total_bill',hue='sex',data=tips_df,palette='Set2')

You can make the bars horizontal by switching the axes.

In [ ]:
sns.barplot(x='total_bill',y='day',hue='sex',data=tips_df,palette='Set2')

Histograms
A Histogram is a bar representation of data that varies over a range. It plots the height of the data belonging to a range along the y-axis and the range along the x-axis. Histograms are used to plot data over a range of values. They use a bar representation to show the data belonging to each range. Let's again use the ‘Iris’ data which contains information about flowers to plot histograms.

In [ ]:
flowers_df=sns.load_dataset("iris")
flowers_df.sepal_width

Now, let’s plot a histogram using the hist() function.

In [ ]:
plt.title("Distribution of sepal width")
plt.hist(flowers_df.sepal_width)

We can control the number or size of bins too.

In [ ]:
plt.hist(flowers_df.sepal_width,bins=5)

Scatter plots:

Scatter plots are used when we have to plot two or more variables present at different coordinates. The data is scattered all over the graph and is not confined to a range. Two or more variables are plotted in a Scatter Plot, with each variable being represented by a different color. Let's use the ‘Iris’ dataset to plot a Scatter Plot

In [ ]:
flowers_df=sns.load_dataset("iris")
flowers_df

First, let’s see how many different species of flowers we have.

In [ ]:
flowers_df.species.unique()

Let’s try plotting the data with the help of a line chart.

In [ ]:
plt.plot(flowers_df.sepal_length,flowers_df.sepal_width)

This is not very informative. We cannot figure out the relationship between different data points.

In [ ]:
sns.scatterplot(x=flowers_df.sepal_length, y=flowers_df.sepal_width)

This is much better. But we still cannot differentiate different data points belonging to different categories. We can color the dots using the flower species as a hue.

'hue' is used to visualize the data of different categories in one plot. 'palette' is used to change the colour of the plot.

In [ ]:
sns.scatterplot(x=flowers_df.sepal_length, y=flowers_df.sepal_width,hue=flowers_df.species,s=70);

Since Seaborn uses Matplotlib's plotting functions internally, we can use functions like plt.figure and plt.title to modify the figure.

In [ ]:
plt.figure(figsize=(12,6))
plt.title('sepal dimensions')
sns.scatterplot(x=flowers_df.sepal_length, y=flowers_df.sepal_width,hue=flowers_df.species,s=70);

Heat Maps
Heatmaps are used to see changes in behavior or gradual changes in data. It uses different colors to represent different values. Based on how these colors range in hues, intensity, etc., tells us how the phenomenon varies. Let's use heatmaps to visualize monthly passenger footfall at an airport over 12 years from the flights dataset in Seaborn.

In [ ]:
flights_df=sns.load_dataset("flights").pivot(index="month", columns="year",values= "passengers")
flights_df

The brighter the color, the higher the footfall at the airport. By looking at the graph, we can infer that :

The annual footfall for any given year is highest around July and August.
The footfall grows annually. Any month in a year will have a higher footfall when compared to the previous years.
Let's display the actual values in our heatmap and change the hue to blue.

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
plt.title(" No of passengers(1000s)")
'''fmt="d": Specifies that the data should be formatted as integers ("d" stands for "decimal integer").
annot=True: This argument annotates (displays) the actual values inside the heatmap cells'''
sns.heatmap(flights_df,fmt="d",annot=True,cmap='Blues')

Exception handling:
Error in Python can be of two types i.e. Syntax errors and Exceptions. Errors are problems in a program due to which the program will stop the execution. On the other hand, exceptions are raised when some internal events occur which change the normal flow of the program.

Different types of exceptions in python:

In Python, there are several built-in Python exceptions that can be raised when an error occurs during the execution of a program. Here are some of the most common types of exceptions in Python:1.

SyntaxError: This exception is raised when the interpreter encounters a syntax error in the code, such as a misspelled keyword, a missing colon, or an unbalanced parenthes2.is.
TypeError: This exception is raised when an operation or function is applied to an object of the wrong type, such as adding a string to an inte3.ger.
NameError: This exception is raised when a variable or function name is not found in the current s4.cope.
IndexError: This exception is raised when an index is out of range for a list, tuple, or other sequence 5.types.
KeyError: This exception is raised when a key is not found in a dict6.ionary.
ValueError: This exception is raised when a function or method is called with an invalid argument or input, such as trying to convert a string to an integer when the string does not represent a valid 7.integer.
AttributeError: This exception is raised when an attribute or method is not found on an object, such as trying to access a non-existent attribute of a class 8.instance.
IOError: This exception is raised when an I/O operation, such as reading or writing a file, fails due to an input/out9.put error.
ZeroDivisionError: This exception is raised when an attempt is made to divide a numb10.er by zero.
ImportError: This exception is raised when an import statement fails to find or load a module.
These are just a few examples of the many types of exceptions that can occur in Python. It’s important to handle exceptions properly in your code using try-except blocks or other error-handling techniques, in order to gracefully handle errors and prevent the program fom crashing.

In [ ]:
1) TypeError: This exception is raised when an operation or function is applied to an object of the wrong type. Here’s an example:
 Here a ‘TypeError’ is raised as both the datatypes are different which are being added.

In [ ]:
x = 5
y = "hello"
z = x + y

try catch block to resolve it:
The code attempts to add an integer (‘x') and a string (‘y') together, which is not a valid operation, and it will raise a ‘TypeError'. The code used a ‘try' and ‘except' block to catch this exception and print an error message.

In [ ]:
x = 5
y = "hello"
try:
    z = x + y
except TypeError:
    print("Error: cannot add an int and a str")

Try and Except Statement – Catching Exceptions
Try and except statements are used to catch and handle exceptions in Python. Statements that can raise exceptions are wrapped inside the try block and the statements that handle the exception are written inside except block.

Example: Here we are trying to access the array element whose index is out of bound and handle the corresponding exception.

In [ ]:
a = [1, 2, 3]
try: 
    print ("Second element = %d" %(a[1]))

    print ("Fourth element = %d" %(a[3]))

except:
    print ("An error occurred")

In [ ]:
def fun(a):
    if a < 4:

        b = a/(a-3)
    print("Value of b = ", b)
    
try:
    fun(3)
    fun(5)
except ZeroDivisionError:
    print("ZeroDivisionError Occurred and Handled")
except NameError:
    print("NameError Occurred and Handled")

In [ ]:
def AbyB(a , b):
    try:
        c = ((a+b) / (a-b))
    except ZeroDivisionError:
        print ("a/b result in 0")
    else:
        print (c)
AbyB(2.0, 3.0)
AbyB(3.0, 3.0)

In [ ]:
try:
    k = 5//0 
    print(k)

except ZeroDivisionError:
    print("Can't divide by zero")

finally:
    print('This is always executed')

Advantages of Exception Handling:
Improved program reliability: By handling exceptions properly, you can prevent your program from crashing or producing incorrect results due to unexpected errors or input.
Simplified error handling: Exception handling allows you to separate error handling code from the main program logic, making it easier to read and maintain your code.
Cleaner code: With exception handling, you can avoid using complex conditional statements to check for errors, leading to cleaner and more readable code.
Easier debugging: When an exception is raised, the Python interpreter prints a traceback that shows the exact location where the exception occurred, making it easier to debug your code.
Disadvantages of Exception Handling:
Performance overhead: Exception handling can be slower than using conditional statements to check for errors, as the interpreter has to perform additional work to catch and handle the exception.
Increased code complexity: Exception handling can make your code more complex, especially if you have to handle multiple types of exceptions or implement complex error handling logic.
Possible security risks: Improperly handled exceptions can potentially reveal sensitive information or create security vulnerabilities in your code, so it’s important to handle exceptions carefully and avoid exposing too much information about your program.